<p id="notice"><%= notice %></p>

<h1>Events</h1>
<%= link_to 'Create an Event', new_event_path,
         :class=>"btn btn-default btn-primary" %>
<% if Tag.all.length > 0 %>
<%= render 'events/tag_cloud' %>
<% end %>
<table class=" table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Location</th>
      <th>Agenda</th>
      <th>Address</th>
      <th>Organizer</th>
      <th>All Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.start_date.strftime("%d-%m-%Y %H:%M %p") if event.start_date%></td>
        <td><%= event.end_date.strftime("%d-%m-%Y %H:%M %p") if event.end_date%></td>
        <td><%= event.location %></td>
        <td><%= event.agenda %></td>
        <td><%= event.address %></td>
        <td><%= User.find(event.organizer_id).email %></td>
        <td><% event.all_tags.gsub(' ', '').split(',').map do |t| %>
          <%= (link_to t, tag_path(t))%>
          <% end %> </td>

        <td><%= link_to 'Show', event %></td>
        <%if current_user == event.organizer %>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
